body {
    text-align: center;
}

/* index.html */
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid grey;
}

.title {
    padding-bottom: 20px;
}

input {
    margin: 5px;
    width: 60px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}



/* output_page.html */
.canvas {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.triangle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightblue;
    clip-path: polygon(100px 700px, 400px 100px, 700px 650px);
}
.point {
    position: absolute;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.p1 { left: 100px; top: 700px; }
.p2 { left: 400px; top: 100px; }
.p3 { left: 700px; top: 650px; }